
backend/frontend/package-lock.json
backend/frontend/package.json
backend/frontend/package-lock.json
backend/frontend/package.json
*.pyc
backend/frontend/package-lock.json
backend/frontend/package-lock.json
backend/frontend/package-lock.json
*.pyc
backend/backend/.env
*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/
*.pyc
*.pyc
*.pyc
*.pyc
backend/frontend/package.json
backend/frontend/package-lock.json
*.json
aws-elastic-beanstalk-cli-setup/
backend/eb-virt/
backend/.DS_Store
.DS_Store
.DS_Store
.DS_Store
