.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .3;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: 0;
  }
  
  /* Removes blue outline on input fields when clicked on */
  input:focus, textarea { 
    outline: none !important;
  }

  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 20vh auto;
    border-radius: 4px;
    max-width: 500px;
    overflow-y: hidden;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    /* font-size: 15px; */
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #ABABAB;
    background-color: white;
    cursor: pointer;
    border: none;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .text-input-box {
    font-size: 15px;
    opacity: 1;
    text-align: center;
    font-family: "Light";
    font-size: 20px;
    color:#ABABAB;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ABABAB;
    border-radius: 2px;
    background-color: white;
    resize: none;
    text-transform: uppercase;
  }

  .text-input-box::placeholder {
    color: #ABABAB;
    opacity: 1; 
  }

  .submit-button {
    font-size: 15px;
    opacity: 1;
    text-align: center;
    font-family: "Light";
    font-size: 20px;
    color:#ABABAB;
    width: 30%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #ABABAB;
    border-radius: 2px;
    background-color: white;
    resize: none;
    text-transform: uppercase;
  }