
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

eb-virt
frontend/package-lock.json
frontend/package.json
frontend/package-lock.json
frontend/package.json
*.pyc
frontend/package-lock.json
frontend/package-lock.json
frontend/package-lock.json
*.pyc
backend/backend/.env
*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/
*.pyc
*.pyc
*.pyc
*.pyc
frontend/package.json
frontend/package-lock.json
*.json
aws-elastic-beanstalk-cli-setup/
backend/eb-virt/
backend/.DS_Store
.DS_Store
