.app {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.arrow {
    flex: 1;
    font-size: 100px;
    padding-top: 175px;
    color: #ABABAB;
}

.album-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: "Light";
    /* margin-left: 30px; */
}

.album-title {
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 12px;
}

.tracklist {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    margin-bottom: 100px;
}

.song {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 120px;
}